
@{
    ViewBag.Title = "Tarjeta de Crédito";
}

<style>
    #dt-records tbody th, #dt-records tbody td {
        padding: 0.25rem !important;
        line-height: 1.3em !important;
        vertical-align: middle !important;
    }

    #btnnuevo {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div class="br-section-wrapper">

    <button id="btnnuevo" class="btn btn-primary" data-target="#modal-record"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>

    <table id="dt-records" class="table-wrapper table display responsive nowrap table-hover" style="width:100%" data-page-length='10'>
        <thead class="thead-colored thead-primary">
            <tr>
                <th>CardType</th>
                <th>CardNumber</th>
                <th>ExpMonth</th>
                <th>ExpYear</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<div id="modal-record" class="modal" role="dialog">
    <div class="modal-dialog" style="width: 400px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Direcciones AW</h3>
            </div>
            <div class="modal-body">
                <form id="NewRecord" role="form">
                    <div>
                        <div class="form-group">
                            <label for="txtCardType" class="control-label">CardType</label>
                            <input type="text" id="txtCardType" class="form-control" placeholder="Tipo de tarjeta" />
                        </div>
                        <div class="form-group">
                            <label for="txtCardNumber" class="control-label">CardNumber</label>
                            <input type="text" id="txtCardNumber" class="form-control" placeholder="No de tarjeta" />
                        </div>
                        <div class="form-group">
                            <label for="txtExpMonth" class="control-label">ExpMonth</label>
                            <input type="text" id="txtExpMonth" class="form-control" placeholder="Mes Venc." />
                        </div>
                        <div class="form-group">
                            <label for="txtExpYear" class="control-label">ExpYear</label>
                            <input type="text" id="txtExpYear" class="form-control" placeholder="Año Venc." />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnguardar" data-dismiss="modal" class="btn btn-primary">Guardar</button>
                        <button id="btncerrar" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/CreditCard.js"></script>